<h1>Merchant Coupons</h1>

<style>table, th, td</style>
<table>
  <thead>
  </thead>
  <tbody>
    <% @merchant.coupons.each do |coupon| %>
      <tr>
        <td><%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %></td>
        <td><%= "Amount off: #{coupon.amount_off}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>